body{
  margin:0 auto;
  background: #efeff4;
  font: 400 16px/1.5 -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
  max-width: 640px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,li{
  padding:0;
  margin:0;
  list-style: none;
}
.menu{
  padding-top:7px;
  background: #f3f3f3;

  .menu-main{
    display: block;
    text-decoration: none;
    color:#333333;
    padding-left: 16px;
    height:43px;
    line-height: 43px;
    background: #ffffff;
    border-bottom:1px solid #c8c7cc;
    cursor: pointer;
    position: relative;
    font-size:16px;
  }
}

i{
  position: absolute;
  right:0;
  top:4px;
  background: url("/static/images/help/arrow.png") no-repeat center;
  background-size: 50% 50%;
  width:40px;
  height: 40px;

  &.active{
    right: 0px;
    top: 0px;
    background: url("/static/images/help/arrow_down.png") no-repeat center;
    background-size: 50% 50%;
    width:40px;
    height: 40px;
  }
}

.menu-sub{
  display: none;

  &.active{
    display: block;
  }

  a{
    display: block;
    color:#828282;
    font-size:14px;
    padding-left: 40px;
    height:34px;
    line-height: 34px;
    background: #ffffff;
    border-bottom:1px solid #eeeeee;
    text-decoration: none;
    position: relative;
  }

  i{
    background-size: 40% 40%;
    top: -2px;
  }
}
